{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="main-menu" style='height: 5rem'>
    <div class="menu-icon">
        <svg viewbox="0 0 60 60" width="60px" height="60px">
            <line x1="5%" y1="50%" x2="95%" y2="50%" />
            <line x1="5%" y1="50%" x2="95%" y2="50%" />
        </svg>
    </div>

    <nav>
        <h2 class="hidden">Main Menu</h2>
        <ul>
            <li {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
            <li {% if request.resolver_match.url_name == 'about' %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
            <li {% if request.resolver_match.url_name == 'journal' %}class="active"{% endif %}><a href="{% url 'journal' %}">Journal</a></li>
            <li {% if request.resolver_match.url_name == 'report' %}class="active"{% endif %}><a href="{% url 'report' %}">Reports</a></li>
            <li {% if request.resolver_match.url_name == 'foods' %}class="active"{% endif %}><a href="{% url 'foods' %}">My Foods</a></li>
            <li {% if request.resolver_match.url_name == 'user' %}class="active"{% endif %}><a href="{% url 'user' %}">User</a></li>
        </ul>
    </nav>
</div>