{% extends 'partials/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<h2>About</h2>
<div class="interrupt">
    <p>More than 1 in 7 (~15%) of US adults, approximately 37 million people, are estimated to have  
        Chronic Kidney Disease (CKD).  Worse yet, as many as 9 in 10 adults are actually unaware that 
        they have CDK.  In fact, 33% of the population is high risk for kidney disease. According to the CDC:</p> 
        <p>"When people develop chronic kidney disease (CKD), their kidneys become damaged and over time may 
            not clean the blood as well as healthy kidneys. If kidneys do not work well, toxic waste and extra 
            fluid accumulate in the body and may lead to:</p>
</div>

<div class="big-img">
    <div class="caption">
        <span class="border2">
            <ul style="list-style: none;">
                <li>High blood pressure</li>
                <li>Heart disease</li>
                <li>Stroke</li>
                <li>Early death</li>
            </ul>
        </span>
    </div>
</div>

<div class="interrupt">
    <p>However, people with CKD and people at risk for CKD can take steps 
        to protect their kidneys with the help of their health care providers."</p> 
        <p>Several measures are being taken to combat kidney disease.  However, due to the scope 
            of the problem across the U.S., it can take up to 6 months to see a renal specialist 
            and get the needed help.  CKD can be reversed with a change of attitudes and behaviors 
            in regard to what we take into our bodies.</p>
</div>
{% endblock %}