
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div  style='justify-content:center'>
    <div style='width:50%'>
        <form name="form" method="get" action="{% url 'food_db_search' %}">
            <label for="search_string">Search for a food</label>
            <input type="text" value="{{originalSearchString}}" name='search_string' id='search_string' required>
            <input type="hidden" name="journalID_in_use" value={{journalID_in_use}}>
            <button type="submit">Search</button>
        </form>

            <form name="form" method="POST" action="{% url 'save_food_to_day' %}">
                {% csrf_token %}
                {% for food in resultset %}
                    <label for="chosenFood">{{food.food_name}}</label>
                    <input type="radio" class="radio" value="{{food.id}}" name="chosenFood" id="{{food.food_name}}" checked/>
                {% endfor %}
                <label for="grams">How many grams?</label>
                <input type="number" name='grams' step='.1' >
                <input type="hidden" name="journalID_in_use" value="{{journalID_in_use}}">
                <button type="submit">Add food to day</button>
            </form>
            <form action="{% url 'foods' %}" method="get">
                <button type="submit">Don't see your food? Add it to your food collection</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}