{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journal</title>
  {% load static %} <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
</head>
<body class="form">
  {% include 'partials/header.html' %}
  {% include 'partials/nav.html' %}

<div class="row" style='width: 100%;'>  
  <form action="{% url 'journal' %}" method='GET' id='form_submit' class="report-date" style='padding: 0px;'>
    
    <input type="date" id="selected_date" name="selected_date" onchange='change()'style='width: 100%; padding: 10px;'>
    <input type='hidden' value="{{selected_date}}" id="submitDate"  name=''>
    

    <div style='width: 50%;'>
    <h3 style='text-align: left;'>{{selected_date | date:'d M Y'}}</h3>

    </div>
    
  </form>
</div>

  <div class="row">     

    <div class="column" style='width: 70%;'>
      

      {% comment %} Results Table {% endcomment %}
      <table>
        <th>
          <tr>
            <td><strong>Food Name</strong></td>
            <td><strong>Grams</strong></td>
          </tr>
        </th>
        
        {% for food in foods_in_day %}
        <tr>
          <td>{{food.food.food_name}}</td>
          
          
          <td>
            <form action="{% url 'save_journal_edits'%}" method='POST'>
            {% csrf_token %}
            <input type="hidden" name='date_to_return_to' value="{{selected_date}}">
            <input type="number" name="food_grams" id="food_grams" value="{{food.grams}}">
            <input type="hidden" name='food_in_day_id' value="{{food.id}}">

            <div>
              <button type="submit" class="save-changes">Save Journal Changes</button>
            </div>   
            </form>
          </td>
          
        </tr>
        {% endfor %}

      </table>

      <br><br>


    </div>
    
    <div class="column" style='width: 30%;'>

      {% comment %} overlays {% endcomment %}

      <div id="dailyStats" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeDaily()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content">
          <form method="post" action="{% url 'update_daily_stats' %}">
            {% csrf_token %}
            <label for="avg_blood_sugar">Avg. Blood Sugar</label>
            <input type="number" name="avg_blood_sugar" id="avg_blood_sugar" step=".1" 
            {% if journal.avg_blood_sugar is null %}
            value="0"
            {% else %}
            value="{{journal.avg_blood_sugar}}"
            {% endif %}
            required>

            <label for="daily_weight">Weight (in lbs)</label>
            <input type="number" name="daily_weight" id="daily_weight" step=".1" 
            {% if journal.daily_weight is null %}
            value="0"
            {% else %}
            value="{{journal.daily_weight}}"
            {% endif %}
            required>
            <br><br>
            <button type="submit">Update Journal</button>
          </form>
        </div>
      </div>

      <div id="water" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeWater()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content">
          <form method="post" action="{% url 'update_water' %}">
            {% csrf_token %}
            <label for="water_intake">Water (in mL):</label>
            <input type="number" name="water_intake" id="water_intake" step=".1" 
            {% if journal.water_intake is null %}
            value="0"
            {% else %}
            value="{{journal.water_intake}}"
            {% endif %}
            required>

            <br><br>
            <button type="submit">Update Journal</button>
          </form>
        </div>
      </div>

      <div id="lab" class="overlay">
        
        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeLab()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content">
          <form method="post" action="{% url 'update_lab' %}">
            {% csrf_token %}
            <label for="lab_potassium" class="lab">K (in grams):</label>
            <input type="number" name="lab_potassium" id="lab_potassium" step=".1" class="lab"
            {% if journal.lab_potassium is null %}
            value="0"
            {% else %}
            value="{{journal.lab_potassium}}"
            {% endif %}
            required>

            <label for="lab_phosphorus">Phos (in grams):</label>
            <input type="number" name="lab_phosphorus" id="lab_phosphorus" step=".1"
            {% if journal.lab_phosphorus is null %}
            value="0"
            {% else %}
            value="{{journal.lab_phosphorus}}"
            {% endif %}
            required>

            <label for="lab_sodium">Sodium (in grams):</label>
            <input type="number" name="lab_sodium" id="lab_sodium" step=".1"
            {% if journal.lab_sodium is null %}
            value="0"
            {% else %}
            value="{{journal.lab_sodium}}"
            {% endif %}
            required>

            <label for="lab_creatinine">Creatinine (in grams):</label>
            <input type="number" name="lab_creatinine" id="lab_creatinine" step=".1" 
            {% if journal.lab_creatinine is null %}
            value="0"
            {% else %}
            value="{{journal.lab_creatinine}}"
            {% endif %}
            required>

            <label for="lab_albumin">Albumin (in grams):</label>
            <input type="number" name="lab_albumin" id="lab_albumin" step=".1"             
            {% if journal.lab_albumin is null %}
            value="0"
            {% else %}
            value="{{journal.lab_albumin}}"
            {% endif %} required>

            <label for="lab_blood_pressure">Blood Pressure:</label>
            <input type="number" name="lab_blood_pressure" id="lab_blood_pressure" step=".1"
            {% if journal.lab_blood_pressure is null %}
            value="0"
            {% else %}
            value="{{journal.lab_blood_pressure}}"
            {% endif %}
            required>

            <br><br>
            <button type="submit">Add to Journal</button>
          </form>
        </div>
      </div>


      <form action="{% url 'add_food_to_day'%}" method="get">
        <button type='submit'>+ Add Food to Your Day</button>
        <input type="hidden" name="journalID_in_use" value={{journalID_in_use}}>

      </form>

      <div class="overlay-button">
          <button onclick="openDaily()">+ Daily Stats</button>
      </div>

      <div class="overlay-button">
        <button onclick="openWater()">+ Add to your water</button>
      </div>

      <div class="overlay-button">
        <button onclick="openLab()">+ Lab Results</button>
      </div>
    </div>
  </div>

</body>
<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div>Copyright ©National Kidney Foundation 2022</div>
      </div>
  </div>
</footer>
<!-- Optional JavaScript; choose one of the two! -->
<script src="{% static 'js/script.js'%}"></script>
</html>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
    border-color: black;
    border-style: solid;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }</style>
  <script>

    function change(){
      today = document.getElementById('selected_date').value;
      document.getElementById("submitDate").value = today;
      document.getElementById("form_submit").submit();
    }
    function formatDate(today){
    var month = today.slice(5,7);
    var year = today.slice(0,4);
    var day = today.slice(8);
    if (month == 01) monthName = 'January';
    else if (month == 02) monthName = 'February';
    else if (month == 03) monthName = 'March';
    else if (month == 04) monthName = 'April';
    else if (month == 05) monthName = 'May';
    else if (month == 06) monthName = 'June';
    else if (month == 07) monthName = 'July';
    else if (month == 08) monthName = 'August';
    else if (month == 09) monthName = 'September';
    else if (month == 10) monthName = 'October';
    else if (month == 11) monthName = 'November';
    else if (month == 12) monthName = 'December';

    var displayDate = year + '-' + month + '-' + day ;

    return (displayDate);
    }
  </script>
