{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journal</title>
</head>
<body class="form">
  {% include 'partials/header.html' %}
  {% include 'partials/nav.html' %}

  
 
  <form action="{% url 'add_food_to_day'%}" method="get">
    <button type='submit'>Add food to day</button>
    <input type="hidden" name="journalID_in_use" value="{{journalID_in_use}}">
  </form>



  <br>

  <div class="row">
    <div class="column">
      <p id="demo"></p>
      

      <form action="{% url 'journal' %}" method='GET' id='form_submit'>
        <input type="date" id="theDate" name="selected_date" onchange='change()'>
        <input type='text' value="{{selected_date}}" id="submitDate"  name=''>
        <input type='submit' >
      </form>
    </div>
    
    <div class="column">
      <h3 id = 'middleDate'style='border-style: ridge; border-radius: 5px;color:black;'>{{selected_date}}</h3>

      {% comment %} Results Table {% endcomment %}
      <table>
        <th>
          <tr>
            <td>Food ID</td>
            <td>Food Name</td>
            <td>Grams</td>
          </tr>
        </th>
        
        {% for food in foods_in_day %}
        <tr>
          <td>{{food.food.id}}</td>
          <td>{{food.food.food_name}}</td>
          
          
          <td>
            <form action="{% url 'save_journal_edits'%}" method='POST'>
            {% csrf_token %}
            <input type="hidden" name='date_to_return_to' value="{{selected_date}}">
            <input type="number" name="food_grams" id="food_grams" value="{{food.grams}}">
            <input type="hidden" name='food_in_day_id' value="{{food.id}}">
            <button class='button' type="submit">Save Journal Changes</button>    
            </form>
          </td>
          
        </tr>
        {% endfor %}

      </table>

      <br><br>


    </div>
    
    <div class="column">

      {% comment %} overlays {% endcomment %}

      <div id="dailyStats" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeDaily()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content">
          <label for="blSugar">Avg. Blood Sugar</label>
          <input type="number" name="blSugar" id="blSugar" step=".1">

          <label for="weight">Weight (in lbs)</label>
          <input type="number" name="weight" id="weight" step=".1" value="{{ user.weight }}">
          <br><br>
          <form method="post">
            <button type="submit">Add to Journal</button>
          </form>
        </div>
      </div>

      <div id="water" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeWater()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content">
          <label for="addWater">Water (in mL):</label>
          <input type="number" name="addWater" id="addWater" step=".1">

          <br><br>
          <form method="post">
            <button type="submit">Add to Journal</button>
          </form>
        </div>
      </div>

      <div id="lab" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeLab()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content">
          <label for="k" class="lab">K:</label>
          <input type="number" name="k" id="k" step=".1" class="lab">

          <label for="phos">Phos:</label>
          <input type="number" name="phos" id="phos" step=".1">

          <label for="sodium">Sodium:</label>
          <input type="number" name="sodium" id="sodium" step=".1">

          <label for="creatine">Creatine:</label>
          <input type="number" name="creatine" id="creatine" step=".1">

          <label for="albumin">Albumin:</label>
          <input type="number" name="albumin" id="albumin" step=".1">

          <label for="bp">Blood Pressure:</label>
          <input type="number" name="bp" id="bp" step=".1">

          <br><br>
          <form method="post">
            <button type="submit">Add to Journal</button>
          </form>
        </div>
      </div>


      <form action="{% url 'add_food_to_day'%}" method="get">
        <button type='submit'>+ Add Food to Your Day</button>
        <input type="hidden" name="journalID_in_use" value={{journalID_in_use}}>

      </form>

      <div class="overlay-button">
          <button onclick="openDaily()">+ Daily Stats</button>
      </div>

      <div class="overlay-button">
        <button onclick="openWater()">+ Add Water</button>
      </div>

      <div class="overlay-button">
        <button onclick="openLab()">+ Lab Results</button>
      </div>
    </div>
  </div>

</body>
<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div>Copyright ©National Kidney Foundation 2022</div>
      </div>
  </div>
</footer>
<!-- Optional JavaScript; choose one of the two! -->
<script src="{% static 'js/script.js'%}"></script>
</html>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
    border-color: black;
    border-style: solid;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }</style>
  <script>


    document.getElementById('theDate').value = today;
    document.getElementById("demo").innerHTML = formatDate(today);
    document.getElementById("submitDate").value = today;

    function change(){
      today = document.getElementById('theDate').value;
      document.getElementById("demo").innerHTML = formatDate(today);
      document.getElementById("submitDate").value = today;
      document.getElementById("form_submit").submit();
    }
    function formatDate(today){
    var month = today.slice(5,7);
    var year = today.slice(0,4);
    var day = today.slice(8);
    if (month == 01) monthName = 'January';
    else if (month == 02) monthName = 'February';
    else if (month == 03) monthName = 'March';
    else if (month == 04) monthName = 'April';
    else if (month == 05) monthName = 'May';
    else if (month == 06) monthName = 'June';
    else if (month == 07) monthName = 'July';
    else if (month == 08) monthName = 'August';
    else if (month == 09) monthName = 'September';
    else if (month == 10) monthName = 'October';
    else if (month == 11) monthName = 'November';
    else if (month == 12) monthName = 'December';

    var displayDate = year + '-' + month + '-' + day ;

    return (displayDate);
    }
  </script>