<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journal</title>
</head>
<body class="form"</body>
  {% include 'partials/nav.html' %}
  <h2>Journal</h2>
    <section>
      <img src="{% static 'img/clipboard.png' %}" alt="clipboard" class="clipimg">
      <a href="{% url 'add_food_to_day'%}">Add food to day</a>
      <div>
        <div class="loading hidden">
          <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
      </div>

        <p class="success-message hidden">Form successfully submitted!</p>
        <p class="error-message hidden">There was an error!</p>
      </div>

      <form name="photo-form">

        <label for="name">Full name</label>
        <input type="text" name="name" id="name" required>

    </section>
</body>
<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div>Copyright ©National Kidney Foundation 2022</div>
      </div>
  </div>
</footer>
<!-- Optional JavaScript; choose one of the two! -->
<script src="{% static 'js/script.js'%}"></script>
</html>