{% extends 'partials/base.html' %}
{% load static %}
{% block title %}My Foods{% endblock title %}
{% block content %}


<p>This is the my foods page. Currently testing the api food search...</p>

<form name="form" method="get" action="{% url 'apisearch' %}">
    <label for="search_string">Food search</label>
    <input type="text" name='search_string' id='search_string' required>
    <label for="num_grams">Number of grams</label>
    <input type="number" name='num_grams' id='num_grams' required>
    <button type="submit">Submit</button>
</form>

<p>
    Your search:
    {{originalSearchString}} <br>
    Modified search string:
    {{searchString}} <br>
    Number of results:
    {{FoodCount}} <br>
    Number of grams:
    {{num_grams}} <br>
</p>
{% for item in fullItemList %}
<p>
<b>{{item.name}}</b> <br>
Protein per {{num_grams}} gram(s): <b>{{item.protein}} g</b><br>
Phosphorus per {{num_grams}} gram(s): <b>{{item.phosphorus}} mg</b><br>
Potassium per {{num_grams}} gram(s): <b>{{item.potassium}} mg</b><br>
Sodium per {{num_grams}} gram(s): <b>{{item.sodium}} mg</b><br>
Water per {{num_grams}} gram(s): <b>{{item.water}} ml</b>
</p>
{% endfor %} 

{% endblock %}
